{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}BrosCo Consolidaciones {}% endblock %}</title>

  {% block content %}
  <script src="../HTML/configs.js"></script>
  <body>
    <h1> Consolidaciones BrosCo </h1>
    <h2>Porfavor llenar datos</h2>
    <form method="POST" class="psot-form"name ='data' onsubmit="return validate()"style="text-align:left" enctype="multipart/form-data">
      <p>Datos cuenta Bancop</p>
        {% csrf_token %}
        <input type='file' name='bancop' accept="application/vnd.ms-excel">
        <button type="submit" class="save btn btn-default">Submit</button>

        <br><input type="text" id='ruc' name= 'ruc' required placeholder="RUC:"><br>
        <br><input type="text" id='user' name= 'user' required placeholder="Cedula:"><br>
        <br><input type="password" id='pword' name= 'pword' required placeholder="Password:"><br>
        <br><input type="checkbox" onclick="pwshow()">Mostrar Password

        <br><br><p>Llenar fecha en formato 'año-mes-dia'. Ej. 2020-06-30</p>
        <input type="text" id='ini' name= 'ini' required placeholder="Fecha inicio: 2020-06-30"><br>
        <br><input type="text" id='fin' name= 'fin' required placeholder="Fecha fin: 2020-06-30"> <br>
        <br><input type="submit" value="Submit">
    </form>

  </body>
  {% endblock %}
